---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
    <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>
  <!-- Post Tags -->
  <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">#{{ tag }}</li>
    {% endfor %}
  </ul>
  <div class="c-article__main">
    {{ content }}
  </div>
  <div class="pagenav">
    <h3 class="c-pagenav__head">Appetite for more?</h3>
    <iframe src="https://nibnalin.substack.com/embed" width="100%" height="200" style="background:$c-accent__purple;" frameborder="0" scrolling="no"></iframe>
  </div>
</article>
